<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notas</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

</head>
<body>
    <div class="row">
        <nav class="mb-1 navbar navbar-expand-lg navbar-dark bg-dark fixed-top ">
            <a class="navbar-brand">
                <i class="fas fa-sticky- mr -2"></i>Notas
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse float-right" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link"
                            href="{{ url_for('index') }}">
                            <i class="fas fa-home mr-2"></i>Inicio</a>
                    </li>
                    {% if current_user.is_anonymous %}
                    <li class="nav-item active">
                        <a class="nav-link"href="{{ url_for('singup') }}">
                            <i class="fas fa-sign-in-alt mr-2"></i>Registrar usuario</a>
                    </li>
                    {% else %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('logout') }}">
                            <i class="fas fa-sign-out-alt mr-2"></i> Cerrar sesión</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
    {% block content %}
    {% endblock %}
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js "></script>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js "></script>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js "></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js "></script>
</body>
</html>